@tailwind base;
@tailwind components;
@tailwind utilities;

/* Table Scrollbar Styling */
.table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  padding: 2px;
}

@media (max-width: 768px) {
  td {
    padding-top: 0.75rem; /* 12px */
    padding-bottom: 0.75rem; /* 12px */
  }
}
.table-container::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
  margin: 4px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
  border: 2px solid #f1f5f9;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.table-container {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f1f5f9;
  padding: 4px;
}

.Toastify__toast-container {
  width: auto !important;
  max-width: 90vw !important;
}

.Toastify__toast {
  border-radius: 0.75rem !important;
  margin-bottom: 1rem !important;
  background: white !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1) !important;
}

.Toastify__toast--success {
  background: linear-gradient(to right, #2563eb, #3b82f6) !important;
  color: white !important;
}

.Toastify__toast--error {
  background: linear-gradient(to right, #dc2626, #ef4444) !important;
  color: white !important;
}

.Toastify__toast-body {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  padding: 0.75rem 1rem !important;
  font-weight: 500 !important;
}

.Toastify__close-button {
  color: currentColor !important;
  opacity: 0.7 !important;
}

.Toastify__toast-icon {
  width: 20px !important;
  height: 20px !important;
  margin-inline-end: 12px !important;
}

@media (max-width: 768px) {
  .Toastify__toast {
    margin: 0.5rem !important;
  }

  .Toastify__toast-body {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    padding: 0.5rem 0.75rem !important;
  }

  .Toastify__toast-icon {
    width: 16px !important;
    height: 16px !important;
    margin-inline-end: 8px !important;
  }
}

@media (max-width: 768px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .table-container table td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
